body{
	width: 100%;
	height: auto;
	background-image: url(../assets/imagenes/bici01.jpg); 
	background-repeat:no-repeat;
	background-size:100%;
	margin: 0;
}
nav{
	color: #009DF6;
	width: 100%;
	height: 50px;
	margin-top: 0;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	background: #0DA5BC;
	color: #fff;

}
.intro, .write{

   display: inline-block;
	background: white;
	width: 30%;
	height: 200px;
	vertical-align: top;
	padding: 20px 30px;
	text-align: left;
	margin-top: 20px;
	margin-left: 50px;
}
.intro{
	margin-left: 130px;

}



label{
	font-size:12px;
	display: inline-block;
	width: 100%;
}
.area{

	width: 100%;
	border:none;
	border-bottom: 1px solid #0DA5BC;
	margin: 20px 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	outline: none;
    overflow: hidden;
    min-height: 80px;
    max-height: 180px;

}
textarea{
	resize: vertical;
}
#btn{

	cursor: pointer;
	width: 60px;
	height: 30px;
	text-align: center;

}
#btn:hover{
	background: #000;
	color: #fff;
}

#comment{
	width: 71%;
	background-color: #fff;
	padding: 20px 30px;
	margin: 70px 130px;
	border-radius: 4px;
	


}
footer{
	
}
